<div class="container-fluid formation">
  
    <div class="btn-edit btn-right"> <a href="#"> <i class="fa fa-times"></i> </a> </div>
    <div class="btn-edit btn-right"> <a href="#"> <i class="fa fa-edit"></i> </a> </div>
    <h2 class="h2">Proyectos </h2>

    <a href="#"><img src=".\assets\img\portfolio_image.png" alt="Proyecto Portfolio" width="700"
            height="300"> </a>

        <h2>Portfolio en Angular</h2>

        <p>Portoflio desarrollado en Angular, con HTML5, Css3, Bootstrap y javascript en el marco de "#YoProgramo Argentina Programa" </p>


</div>


