<div class=" container-fluid presentacion">

    <div class="myCard" style="width:250px">
        <div class="btn-edit btn-right"> <a href="#" class="btn-right"> <i class="fa fa-edit"></i> </a>
        </div>
        <img class="card-img-top" src="cv.png" alt="fotocv-prueba" width="100%">

        <div class="card-body btn-edit btn-right"> <a href="#" class="btn-right"> <i class="fa fa-edit"></i> </a>
                <h4 class="card-title">Luciano Sebastian Dri</h4>
                <p class="card-text">Paraná, Entre Rios, Argentina </p>
                <p class="card-text"> Desarrollador Full Stack jr.</p>
            
        </div>
    </div>


    <div class="container-fluid sobremi btn-edit btn-right"> <a href="#" class="btn-right"> <i class="fa fa-edit"></i> </a>
        <p> Soy Proactivo, con muchas ganas de aprender y desarrollarme en el mundo IT.</p>
        <p>Me gusta trabajar en grupo para poder tener diferentes perspectivas de trabajo, y diversas formas de
            poder desarrollar un proyecto.</p>
    </div>

</div>
