
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">
  
  
</script>



<div class="container-fluid formation">
    <div class="btn-edit btn-right" > <a href="#"> <i class="fa fa-times"></i> </a> </div>
    <div class="btn-edit btn-right"> <a href="#"> <i class="fa fa-edit"></i> </a> </div>
    <h2 class="h2">Skills y Conocimientos</h2>
    <ul>
        <li >
            <img class="logoimg" title="Manejo del lenguaje HTML5 para poder trabajar en FrontEnd" onmouseover="showInfo()" src=".\assets\img\html.png" alt="html5" width="100px" height="100px" >
            <img class="logoimg" title="Conocimientos en como poder darle estilo en FrontEnd" src=".\assets\img\css3.png" alt="css3" width="100px" height="100px">
            <img class="logoimg" src=".\assets\img\Bootstrap_logo.svg.png" alt="bootstrap" width="100px" height="100px">
            <img class="logoimg" src=".\assets\img\js.png" alt="javascript" width="100px" height="100px">
            <img class="logoimg" src=".\assets\img\angular.png" alt="angular" width="200px" height="200px">
            <img class="logoimg" src=".\assets\img\ts.png" alt="typescript" width="100px" height="100px">
        </li>
            
        <li>
            <img class="logoimg" src=".\assets\img\mysql.png" alt="My Sql" width="140px" height="150px">
            <img class="logoimg" src=".\assets\img\java.jpg" alt="Java" width="130px" height="150px">
            <img class="logoimg" src=".\assets\img\spring-boot-logo.png" alt="Springboot" width="180px" height="120px">
            <img class="logoimg" src=".\assets\img\GitHub-Mark.png" alt="Github" width="100px" height="100px">
        </li>

        <li>
            <img class="logoimg" src=".\assets\img\pixijs.png" alt="Pixijs" width="200px" height="140px">

            <p >Ingles - Avanzado</p> 
        </li>

    </ul>

</div>

